

<footer class="bg-white dark:bg-green-800">
    <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
        <div class="md:flex md:justify-between">
          <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-5">
              <div>
                  <ul class="flex text-gray-500 dark:text-gray-400 font-medium space-x-4">
                    <li>
                      <a href="https://www.instagram.com/cepa.unaj/" class="bg-white hover:bg-gradient-to-r from-yellow-500 via-orange-500 to-pink-500 via-purple-500 to-purple-900 text-transparent bg-clip-text">
                        Instagram
                      </a>
                    </li>
                    <li>
                      <a href="https://www.facebook.com/people/CEPA-UNAJ/100090898068735/" class="hover:underline bg-white hover:bg-gradient-to-r from-blue-700 via-blue-400 from-blue-300 via-white text-transparent bg-clip-text">
                        Facebook
                      </a>
                    </li>
                    <li>
                      <a href="https://twitter.com/UnqCepa1995" class="text-decoration:none text-white hover:text-blue-400">
                        Twitter
                      </a>
                    </li>
                    <li>
                      <a href="https://www.youtube.com/@CEPAUNQ" class="text-decoration:none text-white hover:text-red-500">
                        Youtube
                      </a>
                    </li>
                  </ul>
              </div>
          </div>
      </div>
      <hr class="my-6 border-gray-200 sm:mx-auto dark:border-lime-950 lg:my-8" />
      <div class="sm:flex sm:items-center sm:justify-between">
          <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2025 <a href="https://www.instagram.com/cepa_nacional/" class="hover:underline">CEPA</a>. All Rights Reserved.
          </span>

      </div>
    </div>
</footer>
