<app-header class="sticky top-0 z-50 py-4"/>

<div class="mx-2 my-6">
    <p class="text-3xl font-bold underline">Instituto de Estudios Iniciales</p>

    <div class="my-6">
        <a href="https://www.unq.edu.ar/carrera/81-licenciatura-en-artes-digitales/"
        class="font-bold text-green-600 hover:text-black" target="_blank">Licenciatura en Artes Digitales</a>
    </div>
    <div class="my-6">
        <a href="https://www.unq.edu.ar/carrera/25-licenciatura-en-composicion-con-medios-electroacusticos/"
        class="font-bold text-green-600 hover:text-black" target="_blank">Licenciatura en Composición con Medios Electroacústicos</a>
    </div>
    <div class="my-6">
        <a href="https://www.unq.edu.ar/carrera/27-licenciatura-en-musica-y-tecnologia/"
        class="font-bold text-green-600 hover:text-black" target="_blank">Licenciatura en Música y Tecnología</a>
    </div>
    <div class="my-6">
        <a href="https://www.unq.edu.ar/carrera/100-tecnicatura-universitaria-en-creacion-musical/"
        class="font-bold text-green-600 hover:text-black" target="_blank">Tecnicatura Universitaria en Creación Musical</a>
    </div>
    <div class="my-6">
        <a href="https://www.unq.edu.ar/carrera/69-tecnicatura-universitaria-en-produccion-digital/"
        class="font-bold text-green-600 hover:text-black" target="_blank">Tecnicatura Universitaria en Producción Digital</a>
    </div>
    <div class="my-6">
        <a href="https://www.unq.edu.ar/carrera/101-tecnicatura-universitaria-en-produccion-musical-y-nuevas-tecnologias/"
        class="font-bold text-green-600 hover:text-black" target="_blank">Tecnicatura Universitaria en Producción Musical y Nuevas Tecnologías</a>
    </div>
    <div class="my-6">
        <a href="https://www.unq.edu.ar/carrera/50-licenciatura-en-artes-y-tecnologias-ccc/"
        class="font-bold text-green-600 hover:text-black" target="_blank">Licenciatura en Artes y Tecnologías (CCC)</a>
    </div>
</div>

<app-footer id="footer" />
