<app-header class="sticky top-0 z-50 py-4"/>

<div class="py-20 flex flex-col items-center">
  <div class="text-center sm:max-w-4xl max-w-lg">
      <img src="{{ 'assets/calendario/2025 1.jpg' }}" alt="" class="h-full w-full object-cover object-center shadow-2xl">
  </div>
</div>
<div class="py-20 flex flex-col items-center">
  <div class="text-center sm:max-w-4xl max-w-lg">
      <img src="{{ 'assets/calendario/2025 2.jpg' }}" alt="" class="h-full w-full object-cover object-center shadow-2xl">
  </div>
</div>

<app-footer id="footer" />
