<app-header class="sticky top-0 z-50 py-4"/>

<div class="mx-4 my-8 p-6 bg-gray-100 rounded-lg shadow-lg">
    <h1 class="text-4xl font-bold text-center text-green-700 mb-6">Instituto de Ciencias Sociales y Administración</h1>
    
    <div class="mb-8">
        <h2 class="text-2xl font-semibold text-gray-800 border-b-2 border-green-500 pb-2">Carreras de Grado</h2>
        <ul class="mt-4 space-y-3">
            <li><a href="https://www.unaj.edu.ar/carreras/ciencias-sociales-y-administracion/licenciatura-en-economia/" class="text-lg font-bold text-green-600 hover:text-black">Licenciatura en Economía</a></li>
            <li><a href="https://www.unaj.edu.ar/carreras/ciencias-sociales-y-administracion/licenciatura-en-trabajo-social/" class="text-lg font-bold text-green-600 hover:text-black">Licenciatura en Trabajo Social</a></li>
            <li><a href="https://www.unaj.edu.ar/carreras/ciencias-sociales-y-administracion/licenciatura-en-administracion/" class="text-lg font-bold text-green-600 hover:text-black">Licenciatura en Administración</a></li>
            <li><a href="https://www.unaj.edu.ar/carreras/ciencias-sociales-y-administracion/licenciatura-en-gestion-ambiental/" class="text-lg font-bold text-green-600 hover:text-black">Licenciatura en Gestión Ambiental</a></li>
            <li><a href="https://www.unaj.edu.ar/carreras/ciencias-sociales-y-administracion/licenciatura-en-relaciones-del-trabajo/" class="text-lg font-bold text-green-600 hover:text-black">Licenciatura en Relaciones del Trabajo</a></li>
        </ul>
    </div>

<app-footer id="footer" />
