<app-header class="sticky top-0 z-50 py-4"/>

<div class="mx-2 my-6">
    <p class="text-3xl font-bold underline">Instituto de Ciencias de la Salud</p>

    <div class="my-6">
        <a href="https://www.unq.edu.ar/carrera/22-licenciatura-en-ciencias-sociales/"
        class="font-bold text-green-600 hover:text-black" target="_blank">Licenciatura en Ciencias Sociales</a>
    </div>
    <div class="my-6">
        <a href="https://www.unq.edu.ar/carrera/24-licenciatura-en-comunicacion-social/"
        class="font-bold text-green-600 hover:text-black" target="_blank">Licenciatura en Comunicación Social</a>
    </div>
    <div class="my-6">
        <a href="https://www.unq.edu.ar/carrera/licenciatura-en-comunicacion-social-ccc/"
        class="font-bold text-green-600 hover:text-black" target="_blank">Licenciatura en Comunicación Social - CCC</a>
    </div>
    <div class="my-6">
        <a href="https://www.unq.edu.ar/carrera/26-licenciatura-en-educacion/"
        class="font-bold text-green-600 hover:text-black" target="_blank">Licenciatura en Educación</a>
    </div>
    <div class="my-6">
        <a href="https://www.unq.edu.ar/carrera/83-licenciatura-en-educacion-ccc/"
        class="font-bold text-green-600 hover:text-black" target="_blank">Licenciatura en Educación - CCC</a>
    </div>
    <div class="my-6">
        <a href="https://www.unq.edu.ar/carrera/licenciatura-en-educacion-ccc-virtual/"
        class="font-bold text-green-600 hover:text-black" target="_blank">Licenciatura en Educación - Virtual - CCC</a>
    </div>
    <div class="my-6">
        <a href="https://www.unq.edu.ar/carrera/47-licenciatura-en-enfermeria/"
        class="font-bold text-green-600 hover:text-black" target="_blank">Licenciatura en Enfermería</a>
    </div>
    <div class="my-6">
        <a href="https://www.unq.edu.ar/carrera/55-licenciatura-en-historia/"
        class="font-bold text-green-600 hover:text-black" target="_blank">Licenciatura en Historia</a>
    </div>
    <div class="my-6">
        <a href="https://www.unq.edu.ar/carrera/28-licenciatura-en-terapia-ocupacional/"
        class="font-bold text-green-600 hover:text-black" target="_blank">Licenciatura en Terapia Ocupacional</a>
    </div>
    <div class="my-6">
        <a href="https://www.unq.edu.ar/carrera/29-profesorado-de-ciencias-sociales/"
        class="font-bold text-green-600 hover:text-black" target="_blank">Profesorado de Ciencias Sociales</a>
    </div>
    <div class="my-6">
        <a href="https://www.unq.edu.ar/carrera/30-profesorado-de-comunicacion-social/"
        class="font-bold text-green-600 hover:text-black" target="_blank">Profesorado de Comunicación Social</a>
    </div>
    <div class="my-6">
        <a href="https://www.unq.edu.ar/carrera/31-profesorado-de-educacion/"
        class="font-bold text-green-600 hover:text-black" target="_blank">Profesorado de Educación</a>
    </div>
    <div class="my-6">
        <a href="https://www.unq.edu.ar/carrera/95-profesorado-de-historia/"
        class="font-bold text-green-600 hover:text-black" target="_blank">Profesorado de Historia</a>
    </div>
    <div class="my-6">
        <a href="https://www.unq.edu.ar/carrera/45-licenciatura-en-ciencias-sociales-y-humanidades-ccc/"
        class="font-bold text-green-600 hover:text-black" target="_blank">Licenciatura en Ciencias Sociales y Humanidades Virtual - CCC</a>
    </div>
    <div class="my-6">
        <a href="https://www.unq.edu.ar/carrera/89-licenciatura-en-geografia-ccc/"
        class="font-bold text-green-600 hover:text-black" target="_blank">Licenciatura en Geografía - Virtual - CCC</a>
    </div>
    <div class="my-6">
        <a href="https://www.unq.edu.ar/carrera/44-tecnicatura-en-gestion-de-medios-comunitarios/"
        class="font-bold text-green-600 hover:text-black" target="_blank">Tecnicatura en Gestión de Medios Comunitarios</a>
    </div>
    <div class="my-6">
        <a href="https://www.unq.edu.ar/carrera/116-tecnicatura-universitaria-en-el-acompanamiento-y-cuidado-de-la-persona-mayor/"
        class="font-bold text-green-600 hover:text-black" target="_blank">Tecnicatura Universitaria en el Acompañamiento y Cuidado de la persona mayor</a>
    </div>
</div>

<app-footer id="footer" />
