<app-header class="sticky top-0 z-50 py-4"/>

<h1 class="text-4xl font-bold text-center">Mapa de la UNQ</h1>


<div class="py-20 flex flex-col items-center">
    <div class="text-center sm:max-w-4xl max-w-lg">
        <img src="{{ 'assets/maps/mapa1.jpg' }}" alt="" class="h-full w-full object-cover object-center shadow-2xl">
    </div>
</div>





<p class="mx-2 text-3xl font-bold underline">Sede Central (ex YPF) esta ubicada en:</p>

<div class="mx-2 my-4">
    <a href="https://www.google.com/maps/place/Universidad+Nacional+Arturo+Jauretche/@-34.7749204,-58.2721071,17z/data=!4m10!1m2!2m1!1sUniversidad+Nacional+de+unaj!3m6!1s0x95a32eb0350b768f:0xbd0aa21eac3ef032!8m2!3d-34.7747628!4d-58.2675846!15sChxVbml2ZXJzaWRhZCBOYWNpb25hbCBkZSB1bmFqIgOIAQGSARFwdWJsaWNfdW5pdmVyc2l0eeABAA!16s%2Fg%2F120m0nnk?entry=ttu&g_ep=EgoyMDI1MDEyMi4wIKXMDSoASAFQAw%3D%3D"
    class="font-bold text-green-600 hover:text-black" target="_blank">Av. Calchaquí 6200 | Florencio Varela | (CP1888) Buenos Aires | Argentina</a>
</div>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6554.193685677333!2d-58.27176354128588!3d-34.77584765100028!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a32eb0350b768f%3A0xbd0aa21eac3ef032!2sUniversidad+Nacional+Arturo+Jauretche!5e0!3m2!1ses!2sar!4v144787290035" width="600" height="400" title="Ejemplo de iframe"></iframe>


<div class="mx-2 my-6">
    <p class="text-3xl font-bold underline">Sedes</p>

    <div class="my-6 ">
        <p class="font-bold">Sede Florencio Varela Centro</p>
        <a href="https://maps.app.goo.gl/F57hhhZUbt4GoHAN8"
        class="font-bold text-green-600 hover:text-black" target="_blank">Sindicato de Trabadores Municipales de Florencio Varela
        Maipú 324, entre Falucho y Las Heras, Florencio Varela</a>
    </div>
    <div class="my-6">
        <p class="font-bold">Centro Universitario Berazategui</p>
        <a href="https://maps.app.goo.gl/7MpG7CiRnif7VsLh9"
        class="font-bold text-green-600 hover:text-black" target="_blank">Calle 145 y Obispo Novak (calle 5)
        Berazategui</a>
    </div>
    <div class="my-6">
        <p class="font-bold">Sede Hospital El Cruce</p>
        <a href="https://maps.app.goo.gl/oYUoUhwpbEotbqJd6"
        class="font-bold text-green-600 hover:text-black" target="_blank">Félix Lope De Vega y Calle 141. Florencio Varela.</a>
    </div>
    <div class="my-6">
        <p class="font-bold">Escuela De Educación Primaria Nº 4 «Remedios De Escalada De San Martín»</p>
        <a href="https://maps.app.goo.gl/NLJPWmj9wEhg4fJi8"
        class="font-bold text-green-600 hover:text-black" target="_blank">Av. Calchaquí 610, B1884 Berazategui, Provincia de Buenos Aires</a>
    </div>
    <div class="my-6">
      <p class="font-bold">Escuela De Educación Secundaria Nº 28</p>
      <a href="https://maps.app.goo.gl/LyTRURb8YGRU9n216"
      class="font-bold text-green-600 hover:text-black" target="_blank">C. 6, B1884 Berazategui, Provincia de Buenos Aires</a>
  </div>


</div>

<app-footer id="footer" />
