<app-header class="sticky top-0 z-50 py-4"/>

<h1 class="text-4xl font-bold text-center">Mapa de la UNQ</h1>


<div class="py-20 flex flex-col items-center">
    <div class="text-center sm:max-w-4xl max-w-lg">
        <img src="{{ 'assets/maps/mapa1.jpg' }}" alt="" class="h-full w-full object-cover object-center shadow-2xl">
    </div>
</div>





<p class="mx-2 text-3xl font-bold underline">Ubicación</p>

<div class="mx-2 my-4">
    <a href="https://www.google.com/maps/place/Universidad+Nacional+de+Quilmes/@-34.7063797,-58.2800997,17.25z/data=!4m10!1m2!2m1!1sunq!3m6!1s0x95a331fe293db393:0x2a0a79e3ff445dfe!8m2!3d-34.7065325!4d-58.2783994!15sCgN1bnGSAQp1bml2ZXJzaXR54AEA!16s%2Fm%2F047n00h?entry=ttu" 
    class="font-bold text-green-600 hover:text-black" target="_blank">Roque Sáenz Peña 352, B1876 Bernal, Provincia de Buenos Aires</a>
</div>

<div class="mx-2 my-6">
    <p class="text-3xl font-bold underline">Sedes</p>

    <div class="my-6 ">
        <p class="font-bold">Campo de Deportes</p>
        <a href="https://goo.gl/maps/ABYd9C5eWBUHkD156" 
        class="font-bold text-green-600 hover:text-black" target="_blank">Colectora, Au Dr. Ricardo Balbín, Bernal, Quilmes, Provincia de Buenos Aires</a>
    </div>
    <div class="my-6">
        <p class="font-bold">Sede La Bernalesa</p>
        <a href="https://goo.gl/maps/ByKjD6Tr9Jr91ByS6" 
        class="font-bold text-green-600 hover:text-black" target="_blank">Quilmes Tec – Lamadrid 1498, Quilmes, Provincia de Buenos Aires</a>
    </div>
    <div class="my-6">
        <p class="font-bold">Sede Berazategui</p>
        <a href="https://goo.gl/maps/vfpRtzpjN9yvpLLN9" 
        class="font-bold text-green-600 hover:text-black" target="_blank">Centro Universitario Berazategui – Diag. Obispo J. Novak 4499, Berazategui, Provincia de Buenos Aires</a>
    </div>
    <div class="my-6">
        <p class="font-bold">Sede González Catán</p>
        <a href="https://goo.gl/maps/Th4sL76xkM57yhLVA" 
        class="font-bold text-green-600 hover:text-black" target="_blank">Centro Universitario De Innovación – Mariano Acosta 6420,González Catán, La Matanza, Provincia de Buenos Aires</a>
    </div>
    <div class="my-6">
        <p class="font-bold">Sede San Fernando</p>
        <a href="https://goo.gl/maps/9CPQ3CZWDH3YrJ6X7" 
        class="font-bold text-green-600 hover:text-black" target="_blank">Centro Universitario Municipal – Av. Avellaneda 2270, B1645 Virreyes, San Fernando, Provincia de Buenos Aires</a>
    </div>
    <div class="my-6">
        <p class="font-bold"> (Dictado del Ciclo Introductorio)</p>
        <a href="https://goo.gl/maps/szwi9XhBKzG199h57" 
        class="font-bold text-green-600 hover:text-black" target="_blank">Tomás Espora 101, Bernal, Quilmes, Provincia de Buenos Aires</a>
    </div>
    <div class="my-6">
        <p class="font-bold">Escuela Secundaria Técnica</p>
        <a href="https://goo.gl/maps/g6uTrU8Hi4vf7yMK6" 
        class="font-bold text-green-600 hover:text-black" target="_blank">Av. República de Francia 1714, Ezpeleta, Quilmes, Provincia de Buenos Aires</a>
    </div>
    <div class=" my-6">
        <p class="font-bold">Astillero Académico San Fernando</p>
        <a href="https://goo.gl/maps/x3o6qCfbzeAZ5WXQ8" 
        class="font-bold text-green-600 hover:text-black" target="_blank">Urcola esq. Rivadavia, San Fernando, Provincia de Buenos Aires</a>
    </div>
    
    
</div>

<app-footer id="footer" />
