<app-header class="sticky top-0 z-50 py-4"/>

<div class="mx-2 my-6">
    <p class="text-3xl font-bold underline">Carreras de Administración y Economía</p>

    <div class="my-6">
        <a href="https://www.unq.edu.ar/carrera/carrera-licenciatura-en-administracion-hotelera/" 
        class="font-bold text-green-600 hover:text-black" target="_blank">Licenciatura en Administración Hotelera</a>
    </div>
    <div class="my-6">
        <a href="https://www.unq.edu.ar/carrera/licenciatura-en-administracion-hotelera-ccc/" 
        class="font-bold text-green-600 hover:text-black" target="_blank">Licenciatura en Administración Hotelera - CCC</a>
    </div>
    <div class="my-6">
        <a href="https://www.unq.edu.ar/carrera/40-licenciatura-en-comercio-internacional/" 
        class="font-bold text-green-600 hover:text-black" target="_blank">Licenciatura en Comercio Internacional</a>
    </div>
    <div class="my-6">
        <a href="https://www.unq.edu.ar/carrera/67-licenciatura-en-economia-del-desarrollo/" 
        class="font-bold text-green-600 hover:text-black" target="_blank">Licenciatura en Economía del Desarrollo</a>
    </div>
    <div class="my-6">
        <a href="https://www.unq.edu.ar/carrera/78-licenciatura-en-gestion-de-recursos-humanos-y-relaciones-laborales/" 
        class="font-bold text-green-600 hover:text-black" target="_blank">Licenciatura en Gestión de Recursos Humanos y Relaciones Laborales</a>
    </div>
    <div class="my-6">
        <a href="https://www.unq.edu.ar/carrera/41-tecnicatura-universitaria-en-economia-social-y-solidaria/" 
        class="font-bold text-green-600 hover:text-black" target="_blank">Tecnicatura Universitaria en Economía Social y Solidaria</a>
    </div>
    <div class="my-6">
        <a href="https://www.unq.edu.ar/carrera/87-tecnicatura-universitaria-en-gestion-de-pequenas-y-medianas-empresas/" 
        class="font-bold text-green-600 hover:text-black" target="_blank">Tecnicatura Universitaria en Gestión de Pequeñas y Medianas Empresas</a>
    </div>
    <div class="my-6">
        <a href="https://www.unq.edu.ar/carrera/contador-publico-nacional/" 
        class="font-bold text-green-600 hover:text-black" target="_blank">Contador Público Nacional - Virtual</a>
    </div>
    <div class="my-6">
        <a href="https://www.unq.edu.ar/carrera/35-licenciatura-en-administracion/" 
        class="font-bold text-green-600 hover:text-black" target="_blank">Licenciatura en Administración - Virtual</a>
    </div>
    <div class="my-6">
        <a href="https://www.unq.edu.ar/carrera/licenciatura-en-administracion-ccc/" 
        class="font-bold text-green-600 hover:text-black" target="_blank">Licenciatura en Administración - Virtual - CCC</a>
    </div>
    <div class="my-6">
        <a href="https://www.unq.edu.ar/carrera/36-licenciatura-en-turismo-y-hoteleria/" 
        class="font-bold text-green-600 hover:text-black" target="_blank">Licenciatura en Turismo y Hotelería -  Virtual</a>
    </div>
    <div class="my-6">
        <a href="https://www.unq.edu.ar/carrera/licenciatura-en-turismo-y-hoteleria-ciclo-de-complementacion/" 
        class="font-bold text-green-600 hover:text-black" target="_blank">Licenciatura en Turismo y Hotelería -  Virtual - CCC</a>
    </div>
    <div class="my-6">
        <a href="https://www.unq.edu.ar/carrera/42-tecnicatura-universitaria-en-ciencias-empresariales/" 
        class="font-bold text-green-600 hover:text-black" target="_blank">Tecnicatura Universitaria en Ciencias Empresariales - Virtual</a>
    </div>
    <div class="my-6">
        <a href="https://www.unq.edu.ar/carrera/48-licenciatura-en-gestion-del-comercio-internacional/" 
        class="font-bold text-green-600 hover:text-black" target="_blank">Licenciatura en Gestión del Comercio Internacional - Virtual</a>
    </div>
    <div class="my-6">
        <a href="https://www.unq.edu.ar/carrera/licenciatura-en-gestion-del-comercio-internacional-ccc/" 
        class="font-bold text-green-600 hover:text-black" target="_blank">Licenciatura en Gestión del Comercio Internacional - Virtual - CCC</a>
    </div>
</div>


<app-footer id="footer" />
