<app-header class="sticky top-0 z-50 py-4"/>

<div class="mx-4 my-8 p-6 bg-gray-100 rounded-lg shadow-lg">
    <h1 class="text-4xl font-bold text-center text-green-700 mb-6">Instituto de Ingeniería y Agronomía</h1>
    
    <div class="mb-8">
        <h2 class="text-2xl font-semibold text-gray-800 border-b-2 border-green-500 pb-2">Carreras de Grado</h2>
        <ul class="mt-4 space-y-3">
            <li><a href="https://www.unaj.edu.ar/carreras/ingenieria-y-agronomia/ingenieria-en-petroleo/" class="text-lg font-bold text-green-600 hover:text-black">Ingeniería en Petróleo</a></li>
            <li><a href="https://www.unaj.edu.ar/carreras/ingenieria-y-agronomia/bioingenieria/" class="text-lg font-bold text-green-600 hover:text-black">Bioingeniería</a></li>
            <li><a href="https://www.unaj.edu.ar/carreras/ingenieria-y-agronomia/ingenieria-electromecanica/" class="text-lg font-bold text-green-600 hover:text-black">Ingeniería Electromecánica</a></li>
            <li><a href="https://www.unaj.edu.ar/carreras/ingenieria-y-agronomia/ingenieria-informatica/" class="text-lg font-bold text-green-600 hover:text-black">Ingeniería en Informática</a></li>
            <li><a href="https://www.unaj.edu.ar/carreras/ingenieria-y-agronomia/ingenieria-industrial/" class="text-lg font-bold text-green-600 hover:text-black">Ingeniería Industrial</a></li>
            <li><a href="https://www.unaj.edu.ar/carreras/ingenieria-y-agronomia/ingenieria-en-transporte/" class="text-lg font-bold text-green-600 hover:text-black">Ingeniería en Transporte</a></li>
            <li><a href="https://www.unaj.edu.ar/carreras/ingenieria-y-agronomia/licenciatura-en-ciencias-agrarias/" class="text-lg font-bold text-green-600 hover:text-black">Licenciatura en Ciencias Agrarias</a></li>
            <li><a href="https://www.unaj.edu.ar/carreras/ingenieria-y-agronomia/licenciatura-en-administracion-agraria-modalidad-presencial/" class="text-lg font-bold text-green-600 hover:text-black">Licenciatura en Administración Agraria (Presencial)</a></li>
            <li><a href="https://www.unaj.edu.ar/carreras/ingenieria-y-agronomia/licenciatura-en-administracion-agraria-modalidad-a-distancia/" class="text-lg font-bold text-green-600 hover:text-black">Licenciatura en Administración Agraria (A distancia)</a></li>
        </ul>
    </div>
    
    <div>
        <h2 class="text-2xl font-semibold text-gray-800 border-b-2 border-green-500 pb-2">Carreras de Pregrado</h2>
        <ul class="mt-4 space-y-3">
            <li><a href="https://www.unaj.edu.ar/carreras/ingenieria-y-agronomia/tecnicatura-universitaria-en-produccion-vegetal-intensiva/" class="text-lg font-bold text-green-600 hover:text-black">Tecnicatura Universitaria en Producción Vegetal Intensiva</a></li>
            <li><a href="https://www.unaj.edu.ar/carreras/ingenieria-y-agronomia/tecnicatura-universitaria-en-emprendimientos-agropecuarios/" class="text-lg font-bold text-green-600 hover:text-black">Tecnicatura Universitaria en Emprendimientos Agropecuarios</a></li>
        </ul>
    </div>
</div>


<app-footer id="footer" />
