<app-header class="sticky top-0 z-50 py-4"/>

<div class="mx-2 my-6">
    <p class="text-3xl font-bold underline">Carreras de CyT</p>

    <div class="my-6">
        <a href="https://www.unq.edu.ar/carrera/arquitectura-naval/" 
        class="font-bold text-green-600 hover:text-black" target="_blank">Arquitectura Naval</a>
    </div>
    <div class="my-6">
        <a href="https://www.unq.edu.ar/carrera/19-ingenieria-en-automatizacion-y-control-industrial/" 
        class="font-bold text-green-600 hover:text-black" target="_blank">Ingeniería en Automatización y Control Industrial</a>
    </div>
    <div class="my-6">
        <a href="https://www.unq.edu.ar/carrera/18-ingenieria-en-alimentos/" 
        class="font-bold text-green-600 hover:text-black" target="_blank">Ingeniería en Alimentos</a>
    </div>
    <div class="my-6">
        <a href="https://www.unq.edu.ar/carrera/73-licenciatura-en-bioinformatica/" 
        class="font-bold text-green-600 hover:text-black" target="_blank">Licenciatura en Bioinformática</a>
    </div>
    <div class="my-6">
        <a href="https://www.unq.edu.ar/carrera/21-licenciatura-en-biotecnologia/" 
        class="font-bold text-green-600 hover:text-black" target="_blank">Licenciatura en Biotecnología</a>
    </div>
    <div class="my-6">
        <a href="https://www.unq.edu.ar/carrera/84-tecnicatura-universitaria-en-biotecnologia/" 
        class="font-bold text-green-600 hover:text-black" target="_blank">Tecnicatura Universitaria en Biotecnología</a>
    </div>
    <div class="my-6">
        <a href="https://www.unq.edu.ar/carrera/58-licenciatura-en-informatica/" 
        class="font-bold text-green-600 hover:text-black" target="_blank">Licenciatura en Informática</a>
    </div>
    <div class="my-6">
        <a href="https://www.unq.edu.ar/carrera/32-tecnicatura-universitaria-en-programacion-informatica/" 
        class="font-bold text-green-600 hover:text-black" target="_blank">Tecnicatura Universitaria en Programación Informática</a>
    </div>
    <div class="my-6">
        <a href="https://www.unq.edu.ar/carrera/72-tecnicatura-universitaria-en-quimica/" 
        class="font-bold text-green-600 hover:text-black" target="_blank">Tecnicatura Universitaria en Química</a>
    </div>
    <div class="my-6">
        <a href="https://www.unq.edu.ar/carrera/77-tecnicatura-universitaria-en-tecnologia-ambiental-y-petroquimica/" 
        class="font-bold text-green-600 hover:text-black" target="_blank">Tecnicatura Universitaria en Tecnología Ambiental y Petroquímica</a>
    </div>
    <div class="my-6">
        <a href="https://www.unq.edu.ar/carrera/106-tecnicatura-universitaria-en-seguridad-e-higiene-en-el-trabajo/" 
        class="font-bold text-green-600 hover:text-black" target="_blank">Tecnicatura Universitaria en Seguridad e Higiene en el Trabajo - VIRTUAL</a>
    </div>
</div>

<app-footer id="footer" />
